<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <script type="text/javascript"
	    src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
        <script type="text/javascript">

            function initViz() {
                var containerDiv = document.getElementById("vizContainer"),
                    url = "https://public.tableau.com/views/nationalrates/Story_US_Marriage_Divorce",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {
                            console.log("Run this code when the viz has finished loading.");
                        }
                    };
    
                var viz = new tableau.Viz(containerDiv, url, options);
                // Create a viz object and embed it in the container div.
            }
        </script>
        <style>
            *{
                  margin:0;
                  padding: 0;
                  font-family: Times;
              }
            html body{
                height:100%;
                background-image: url(static/images/img.jpg);
                background-size: cover;
                background-attachment: fixed;
            }
            .container{
                background:rgb(255, 255, 255,.98);
                width: 70%;
                padding: 50px;
                margin:100px auto;  
            }
            ol {
              padding-left: 40px;
            }
        </style>
</head>
<body onload="initViz();">
    <div class="container">
        <div class="content" >
            
            <div class="banner" style="color:#383838;">
                    <h1 style="color:#FF6F61" align="center"> Marriage and Divorce in the United States</h1>
                    <br><br>
                    <p> &nbsp&nbsp&nbsp&nbsp Both marriage rates and divorce rates in the US are decreasing. Recent studies have shown that millennials are choosing to wait longer to get married and staying married longer and are the main driver in the decline of both the marriage and divorce rate in the US.
                        The marriage rate in the United States is currently 6.8 per 1,000 total population while divorce rate is 2.9 per 1,000 population.
                        <br><br> &nbsp&nbsp&nbsp&nbsp Although divorce rate has decreased. The U.S still has the 6th highest divorce rate in the world. Every 13 seconds, there is one divorce in America. And Almost 50 percent of all marriages in the United States will end in divorce or separation:
                    </p>
                    <ol>
                        <li>Researchers estimate that 41 percent of all first marriages end in divorce</li>
                        <li>60 percent of second marriages end in divorce</li>
                        <li>73 percent of all third marriages end in divorce</li>
                    </ol>
                    <p>
                        Source: &nbsp
                        <a href="https://www.wf-lawyers.com/divorce-statistics-and-facts/" style="color:#383838;">Family Law Attorneys</a><br><br>
                        The graphs below will explain in details how marriage and divorce is in America: 
                    </p>
            </div>
            <br>
            <br>
            <div id="vizContainer" style="width: 100%; height:95%;" >
            </div>
            <br>
            <p style="color:#383838;"> &nbsp&nbsp&nbsp&nbsp Take the following survey to see the chances of you getting a divorce...
                <i class="em em-face_with_monocle" aria-role="presentation" aria-label="FACE WITH MONOCLE"></i>
            </p>
            
            <form class="form" action="/survey">
                <br>
                <button type="submit" ><span><h2>Take Survey</h2></span></button><br><br>
            </form>
        </div>
    </div>
</body>

</html>
