{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="styles.css">
<title>Marriage Prediction</title>
{% endblock %}


{% block body %}
<div class="container">
    <div class="menu">
        <ul>
            <li>Home</li>
            <li>Services</li>
            <li>Product</li>
            <li>Contact</li>
            <li><a href="#" class="signup-btn"><span>Sign up</span></a></li>
        </ul>
    </div>
    <div class="content" >
        <div class="banner">
            <div class="app-text">
                <h1> How Good of A Partner Are You?</h1>
                <p> How likely will you get a divorce?</p>
            </div>
        </div>
        <form class="form" action="/submit" method="POST">
            <!--input type="text" name="email" placeholder="Write your email..."--><br><br>
            <table summary="" role="presentation" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                <tbody>
                    <tr>
                        <th style="border: none; padding: 20px 5px 10px;" >&nbsp;</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_0" style="position: relative;font-size:smaller;color:#01ABAA;"> Strongly Disagrees &nbsp&nbsp&nbsp</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_1" style="position: relative;font-size:smaller;color:#01ABAA;"> Disagrees &nbsp&nbsp&nbsp</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_2" style="position: relative;font-size:smaller;color:#01ABAA;"> Neutral &nbsp&nbsp&nbsp</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_3" style="position: relative;font-size:smaller;color:#01ABAA;"> Agrees &nbsp&nbsp&nbsp</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_4" style="position: relative;font-size:smaller;color:#01ABAA;"> Strongly Agrees &nbsp&nbsp&nbsp</th>
                        
                    </tr>
                    <tr role="group" aria-labelledby="label_31 label_31_row_1" style=" color:white;">
                        <th scope="row" class="form-matrix-row-headers" style="text-align: left; position: relative;">
                        1. If one of us apologizes when our discussion deteriorates, the discussion ends.
                        </th>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_1_0" class="form-radio" name="attr1" type="radio" value="0">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_1_1" class="form-radio" name="attr1" type="radio" value="1">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_1_2" class="form-radio" name="attr1" type="radio" value="2">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_1_3" class="form-radio" name="attr1" type="radio" value="3">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_1_4" class="form-radio" name="attr1" type="radio" value="4">
                        </td>
                    </tr>
                    
                    <tr role="group" aria-labelledby="label_31 label_31_row_2">
                        <th scope="row" class="form-matrix-row-headers" style="text-align: left; position: relative;">
                        2. I know we can ignore our differences, even if things get hard sometimes.
                        </th>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_2_0" class="form-radio" name="attr2" type="radio" value="0">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_2_1" class="form-radio" name="attr2" type="radio" value="1">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_2_2" class="form-radio" name="attr2" type="radio" value="2">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_2_3" class="form-radio" name="attr2" type="radio" value="3">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_2_4" class="form-radio" name="attr2" type="radio" value="4">
                        </td>
                    </tr>
                    <!--"background-color: #FEDC3D;background-color: #01ABAA;background-color:#FEA680; -->
                    <tr role="group" aria-labelledby="label_31 label_31_row_3" style=color:white;">
                        <th scope="row" class="form-matrix-row-headers" style="text-align: left; position: relative;">
                        3. When we need it, we can take our discussions with my spouse from the beginning and correct it.
                        </th>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_3_0" class="form-radio" name="attr3" type="radio" value="0">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_3_1" class="form-radio" name="attr3" type="radio" value="1">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_3_2" class="form-radio" name="attr3" type="radio" value="2">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_3_3" class="form-radio" name="attr3" type="radio" value="3">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_3_4" class="form-radio" name="attr3" type="radio" value="4">
                        </td>
                    </tr>

                    <tr role="group" aria-labelledby="label_31 label_31_row_4">
                        <th scope="row" class="form-matrix-row-headers" style="text-align: left; position: relative;">
                        4. When I discuss with my spouse, to contact him will eventually work.
                        </th>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_4_0" class="form-radio" name="attr4" type="radio" value="0">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_4_1" class="form-radio" name="attr4" type="radio" value="1">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_4_2" class="form-radio" name="attr4" type="radio" value="2">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_4_3" class="form-radio" name="attr4" type="radio" value="3">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_4_4" class="form-radio" name="attr4" type="radio" value="4">
                        </td>
                    </tr>

                    <tr role="group" aria-labelledby="label_31 label_31_row_5"style=" color:white;">
                        <th scope="row" class="form-matrix-row-headers" style="text-align: left; position: relative;">
                        5. The time I spent with my wife is special for us.
                        </th>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_5_0" class="form-radio" name="attr5" type="radio" value="0">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_5_1" class="form-radio" name="attr5" type="radio" value="1">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_5_2" class="form-radio" name="attr5" type="radio" value="2">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_5_3" class="form-radio" name="attr5" type="radio" value="3">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_5_4" class="form-radio" name="attr5" type="radio" value="4">
                        </td>
                    </tr>

                    <tr role="group" aria-labelledby="label_31 label_31_row_6">
                        <th scope="row" class="form-matrix-row-headers" style="text-align: left; position: relative;">
                        6. We don't have time at home as partners.
                        </th>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_6_0" class="form-radio" name="attr6" type="radio" value="0">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_6_1" class="form-radio" name="attr6" type="radio" value="1">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_6_2" class="form-radio" name="attr6" type="radio" value="2">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_6_3" class="form-radio" name="attr6" type="radio" value="3">
                        </td>
                        <td class="form-matrix-values" style="text-align: center;">
                            <input id="input_31_6_4" class="form-radio" name="attr6" type="radio" value="4">
                        </td>
                    </tr>

                    
                </tbody>
            </table>
            <br><br><br>
            <button type="submit" ><span><h2>Submit</h2></span></button>
        </form>

    </div>
</div>
{% endblock %}
