<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Still Married</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <style>
      *{
            margin:0;
            padding: 0;
            font-family: sans-serif;
        }
      html body{
          height:100%;
          background-image: url(static/images/index_img.png);
          background-size: cover;
          background-attachment: fixed;
      }
      .container{
          background:black;
          width: 70%;
          padding: 50px;
          margin:100px auto;  
      }
      </style>
  </head>
    
  <body >
    <div class="container" align="center">
      <h1 style="color:#FF6F61">Chances are you are {{result}} !!! </h1><br>
      <p style="color: white"> Good job! You make a great partner 
        <i class="em em-couple" aria-role="presentation" aria-label="MAN AND WOMAN HOLDING HANDS"></i>
      </p>
      <iframe src="https://giphy.com/embed/Pnrz0zI3mgGCVCVUm2" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p><a href="https://giphy.com/gifs/love-dog-dogs-Pnrz0zI3mgGCVCVUm2">GIPHY</a></p>
    </div>
    
  </body>
</html>
  
