{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="styles.css">
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

<title>Survey</title>
<style>
    *{
          margin:0;
          padding: 0;
          font-family: Roboto;
      }
    html body{
        height:100%;
        background-image: url(static/images/img.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .container{
        background:rgb(255, 255, 255,.98);
        width: 70%;
        padding: 50px;
        margin:100px auto;  
    }
</style>
{% endblock %}


{% block body %}
<div class="container">
    <div class="content" >
        <div class="banner" style="background-color:#badfe7; color: #484848; padding: 30px; text-align: center;">
            <h1> How Good of A Partner Are You?</h1>
        </div>
        <form class="form" action="/submit" method="POST">
            <!-- <i class="em em-adult" aria-role="presentation" aria-label="ADULT"></i>
            <input type="text" name="name" placeholder="Name" style="font-weight:bold; border:0; border-bottom: 2px solid lightseagreen; padding:7px;">&emsp;
            <input type="text" name="Age" placeholder="Age" style="font-weight:bold; border:0; border-bottom: 2px solid lightseagreen; padding:7px;">&emsp;
            <input type="text" name="Race" placeholder="Race" style="font-weight:bold; border:0; border-bottom: 2px solid lightseagreen; padding:7px;">&emsp;
            <input type="text" name="State" placeholder="State" style="font-weight:bold; border:0; border-bottom: 2px solid lightseagreen; padding:7px;">
            <i class="em em-woman" aria-role="presentation" aria-label="WOMAN"></i> -->
            <!-- <select name="occupation">
                <option value="" disabled selected>Select your occupation</option>
            </select> -->
            <br><br>
            <table summary="" role="presentation" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                <tbody>
                    <tr>
                        <th style="border: none; padding: 20px 5px 10px;" >&nbsp;</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_0" style="position: relative;font-size:smaller;"> Strongly Disagrees &nbsp&nbsp&nbsp</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_1" style="position: relative;font-size:smaller;"> Disagrees &nbsp&nbsp&nbsp</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_2" style="position: relative;font-size:smaller;"> Neutral &nbsp&nbsp&nbsp</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_3" style="position: relative;font-size:smaller;"> Agrees &nbsp&nbsp&nbsp</th>
                        <th scope="col" class="form-matrix-column-headers form-matrix-column_4" style="position: relative;font-size:smaller;"> Strongly Agrees &nbsp&nbsp&nbsp</th>
                        
                    </tr>
                    {% for (index,question) in zip_list %}
                        <tr role="group" aria-labelledby="label_31 label_31_row_1">
                            <th scope="row" class="form-matrix-row-headers" style="text-align: left; position: relative;">
                            {{ question }}
                            </th>
                            <td class="form-matrix-values" style="text-align: center;">
                                <input id="input_31_1_0" class="form-radio" name={{ index }} type="radio" value="0" checked>
                            </td>
                            <td class="form-matrix-values" style="text-align: center;">
                                <input id="input_31_1_1" class="form-radio" name={{ index }} type="radio" value="1"  >
                            </td>
                            <td class="form-matrix-values" style="text-align: center;">
                                <input id="input_31_1_2" class="form-radio" name={{ index }} type="radio" value="2" >
                            </td>
                            <td class="form-matrix-values" style="text-align: center;">
                                <input id="input_31_1_3" class="form-radio" name={{ index }} type="radio" value="3">
                            </td>
                            <td class="form-matrix-values" style="text-align: center;">
                                <input id="input_31_1_4" class="form-radio" name={{ index }} type="radio" value="4" >
                            </td>
                        </tr>
                       
                    {% endfor %}
                    
                </tbody>
            </table>
            <br><br><br>
            <button type="submit" style="background-color: #01ABAA;"><span><h2>Submit</h2></span></button>
            <br><br>
        </form>

    </div>
</div>
{% endblock %}
